<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2"/>
    </System.Windows.Forms.ApplicationConfigurationSection>
    <runtime>
        <!-- .NET Framework 4.7+ high-DPI WinForms opt-in switches -->
        <AppContextSwitchOverrides
                value="Switch.System.Windows.Forms.DoNotSupportSelectAllShortcutInMultilineTextBox=false;Switch.System.Windows.Forms.DoNotLoadLatestRichEditControl=false"/>
    </runtime>
</configuration>
